.App{
  text-align: center;
}

.table th, .table td {
  border-top: none !important;
  border-left: none !important;
}
.table-Headercell{
  text-align: center;
  margin-top: 0.25%;
}
#fiveDayForecast-table{
  width: 80%;
  margin: 0 auto;
}
#dayForecast-table{
  background-color: rgba(0,0,0,0.2);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Weather-card{
  width : 90%;
  margin: 10 auto;
  color: white;
}
